WhatsApp AgroFarm - AI Agent & Recebimentos (2).json
{
  "name": "WhatsApp AgroFarm - AI Agent & Recebimentos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-recebido",
        "options": {}
      },
      "id": "e5cb1a47-7b9f-4930-adf6-b7a0693404a9",
      "name": "Webhook Z-API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -640,
        960
      ],
      "webhookId": "c9cb34e7-772f-4587-9910-bb4c4b57570b"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.body?.image?.imageUrl || !!$json.body?.document?.documentUrl }}",
              "value2": true
            }
          ]
        }
      },
      "id": "defca1d9-6c7f-45db-8034-fa277050af74",
      "name": "É Imagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -448,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/receipt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"whatsapp_number\": \"{{ $json.body.phone }}\", \"imageUrl\": \"{{ $json.body.image?.imageUrl || $json.body.document?.documentUrl }}\" }",
        "options": {}
      },
      "id": "0a7bff30-0a75-486a-8edb-09badaae418e",
      "name": "Processar Recibo Inteligente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -144,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE9E067CA2DB1B055091AD735EF201A/token/9938EA066A5F1A693D48545A/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F17220cd7efa3420282c5cc5f3f0746b9S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node[\"Webhook Z-API\"].json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e05be139-3192-4cf1-be08-ece756b98557",
      "name": "Responder (Sucesso Imagem)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        112,
        800
      ]
    },
    {
      "parameters": {
        "text": "=Mensagem: {{ $json.body.text.message || $json.body.message }} | Celular Autorizado: {{ $json.body.phone }}",
        "options": {
          "systemMessage": "=Você é o assistente virtual da AgroFarm. Você ajuda o agricultor tirando dúvidas sobre o estoque dele, sobre as aplicações no campo e sobre as despesas dele. Seja educado, use emojis agrícolas e responda sempre de forma curta no formato WhatsApp.\n\nIMPORTANTE PARA USO DE TOOLS:\nO número de WhatsApp do agricultor atual é: {{$json.body.phone}}.\n\nSEMPRE passe esse `whatsapp_number` como uma STRING (texto entre aspas, ex: \"0986123456\") quando for chamar qualquer tool. NUNCA envie como numeral, pois números iniciados com zero quebram o parser JSON do n8n.\n\nREGRA ABSOLUTA: Quando usar a ferramenta de estoque, você DEVE ler os dados e listar TODOS os itens integralmente na sua resposta do WhatsApp. Nunca resuma, nunca oculte e nunca agrupe itens!\n"
        }
      },
      "id": "9f8669db-95ee-4468-b00f-0ddafca7fda6",
      "name": "AgroFarm AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        -144,
        1104
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "cca84a87-d1d5-409c-a2d2-c2a654ecdc8e",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        1296
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "kZk7EVTfZ0vJ6Gfu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "7606da21-d033-4146-807a-04bc217204a3",
      "name": "Memória (Window Buffer)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.1,
      "position": [
        -32,
        1312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE9E067CA2DB1B055091AD735EF201A/token/9938EA066A5F1A693D48545A/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F17220cd7efa3420282c5cc5f3f0746b9S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node[\"Webhook Z-API\"].json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5ff4abc-3a64-4e5c-9a6d-8d2726ae8629",
      "name": "Responder (IA Agent Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        1104
      ]
    },
    {
      "parameters": {
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/invoices",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "25c1b3e2-9c14-4536-a9ac-8ee91f0ffe18",
      "name": "Tool_ConsultarFaturas",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        480,
        1280
      ]
    },
    {
      "parameters": {
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/stock",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "884ea777-a249-4547-ad99-4c04e3e1ed81",
      "name": "ConsultarEstoque",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        128,
        1344
      ]
    },
    {
      "parameters": {
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/applications",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "cb0c0a76-2bce-4ef4-a75f-6d0f2974da4d",
      "name": "ConsultarAplicacoes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        320,
        1360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Z-API": {
      "main": [
        [
          {
            "node": "É Imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Imagem?": {
      "main": [
        [
          {
            "node": "Processar Recibo Inteligente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Recibo Inteligente": {
      "main": [
        [
          {
            "node": "Responder (Sucesso Imagem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgroFarm AI Agent": {
      "main": [
        [
          {
            "node": "Responder (IA Agent Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória (Window Buffer)": {
      "ai_memory": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool_ConsultarFaturas": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarEstoque": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarAplicacoes": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6166192e-e227-4749-ac18-6755eed248ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a939899d1215f1aae302cbc8a068b07f3522ec7c828451b54c395d8f2a932836"
  },
  "id": "xQ3HPqxlxhOf5k0J",
  "tags": []
}