WhatsApp AgroFarm - AI Agent & Recebimentos (3).json
{
  "name": "WhatsApp AgroFarm - AI Agent & Recebimentos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-recebido",
        "options": {}
      },
      "id": "6f38ce0a-a5ed-49ef-85c7-e63e645a02e3",
      "name": "Webhook Z-API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -400,
        1536
      ],
      "webhookId": "c9cb34e7-772f-4587-9910-bb4c4b57570b"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.body?.image?.imageUrl || !!$json.body?.document?.documentUrl }}",
              "value2": true
            }
          ]
        }
      },
      "id": "79d8473a-2327-400f-a042-a65225928733",
      "name": "É Imagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        1536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/receipt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"whatsapp_number\": \"{{ $json.body.phone }}\", \"imageUrl\": \"{{ $json.body.image?.imageUrl || $json.body.document?.documentUrl }}\" }",
        "options": {}
      },
      "id": "fd5bd74f-7009-4f2e-b705-538ba97c39c6",
      "name": "Processar Recibo Inteligente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        96,
        1376
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE9E067CA2DB1B055091AD735EF201A/token/9938EA066A5F1A693D48545A/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F17220cd7efa3420282c5cc5f3f0746b9S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node[\"Webhook Z-API\"].json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb43d113-6bf6-422b-b872-3336eb3f718f",
      "name": "Responder (Sucesso Imagem)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        352,
        1376
      ]
    },
    {
      "parameters": {
        "text": "=Mensagem: {{ $json.body.text.message || $json.body.message }} | Celular Autorizado: {{ $json.body.phone }}",
        "options": {
          "systemMessage": "=Você é o assistente virtual da AgroFarm. Você ajuda o agricultor tirando dúvidas sobre o estoque dele, sobre as aplicações no campo e sobre as despesas dele. Seja educado, use emojis agrícolas e responda sempre de forma curta no formato WhatsApp.\n\nIMPORTANTE PARA USO DE TOOLS:\nO número de WhatsApp do agricultor atual é: {{$json.body.phone}}.\n\nSEMPRE passe esse `whatsapp_number` como uma STRING (texto entre aspas, ex: \"0986123456\") quando for chamar qualquer tool. NUNCA envie como numeral, pois números iniciados com zero quebram o parser JSON do n8n.\n\nREGRA ABSOLUTA: Quando usar a ferramenta de estoque, você DEVE ler os dados e listar TODOS os itens integralmente na sua resposta do WhatsApp. Nunca resuma, nunca oculte e nunca agrupe itens!\n"
        }
      },
      "id": "5f1cb8e3-71c2-4274-ac28-7f35e60477ad",
      "name": "AgroFarm AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        96,
        1680
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "1f153d8d-8869-49eb-9aab-1672246964c2",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        1888
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "kZk7EVTfZ0vJ6Gfu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d52b3b86-88cc-4e83-806c-d7377547b2b2",
      "name": "Memória (Window Buffer)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.1,
      "position": [
        -48,
        1952
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE9E067CA2DB1B055091AD735EF201A/token/9938EA066A5F1A693D48545A/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F17220cd7efa3420282c5cc5f3f0746b9S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node[\"Webhook Z-API\"].json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "303c3e28-04f6-44dc-9aa0-7cff6f4a5d84",
      "name": "Responder (IA Agent Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        496,
        1680
      ]
    },
    {
      "parameters": {
        "toolDescription": " \"Usa esta ferramenta para buscar faturas antigas OU para pesquisar preços de produtos específicos comprados no passado. Quando o usuário perguntar o preço de algo, mande o nome do produto no parâmetro de busca.\"",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/invoices",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            },
            {
              "name": "search",
              "valueProvider": "fromAI",
              "description": "Nome exato do produto a ser pesquisado (ex: glifosato)"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "e6e0dc69-727e-4b4e-8744-e09c57d29fce",
      "name": "Tool_ConsultarFaturas",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        624,
        2032
      ]
    },
    {
      "parameters": {
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/stock",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "toolDescription": "Usa esta ferramenta para verificar a quantidade de produtos disponíveis no estoque do usuário (fazenda) no momento."
      },
      "id": "e5b5205a-6da4-45f8-8d9a-75ecf6462aa6",
      "name": "ConsultarEstoque",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        384,
        2064
      ]
    },
    {
      "parameters": {
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/applications",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "toolDescription": "Usa esta ferramenta para consultar o histórico recente de aplicações de produtos (defensivos agrícolas) na lavoura para o agricultor."
      },
      "id": "7d0c55a4-7bca-4b2c-b36b-26a35c6c3137",
      "name": "ConsultarAplicacoes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        512,
        2048
      ]
    },
    {
      "parameters": {
        "toolDescription": "Sempre que o usuário perguntar sobre dosagem, carências, modos de aplicação ou pragas, envie a dúvida do usuário no parâmetro search para esta ferramenta e ela lerá os manuais oficias.",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/manuals",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "search",
              "valueProvider": "fromAI",
              "description": "Envie a dúvida agronômica do usuário (ex: dosagem do produto, o que é, etc)"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "AgroFarm/1.0"
            }
          ]
        }
      },
      "id": "8b51d46b-8007-4e0d-b841-a1b7eabc7a1e",
      "name": "ConsultarManuaisAgronomicos",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        752,
        2032
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Z-API": {
      "main": [
        [
          {
            "node": "É Imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Imagem?": {
      "main": [
        [
          {
            "node": "Processar Recibo Inteligente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Recibo Inteligente": {
      "main": [
        [
          {
            "node": "Responder (Sucesso Imagem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgroFarm AI Agent": {
      "main": [
        [
          {
            "node": "Responder (IA Agent Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ConsultarManuaisAgronomicos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória (Window Buffer)": {
      "ai_memory": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool_ConsultarFaturas": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarEstoque": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarAplicacoes": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarManuaisAgronomicos": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bb2126d2-b137-4688-89c3-d7d792d3df5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a939899d1215f1aae302cbc8a068b07f3522ec7c828451b54c395d8f2a932836"
  },
  "id": "xQ3HPqxlxhOf5k0J",
  "tags": []
}