WhatsApp AgroFarm - AI Agent & Recebimentos (3).json
{
  "name": "WhatsApp AgroFarm - AI Agent & Recebimentos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-recebido",
        "options": {}
      },
      "id": "6f38ce0a-a5ed-49ef-85c7-e63e645a02e3",
      "name": "Webhook Z-API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -500,
        1536
      ],
      "webhookId": "c9cb34e7-772f-4587-9910-bb4c4b57570b"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.body?.audio?.audioUrl }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-2222-3333-444455556666",
      "name": "É Áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -300,
        1536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/transcribe-audio",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"audioUrl\": \"{{ $('Webhook Z-API').first().json.body.audio.audioUrl }}\" }",
        "options": {}
      },
      "id": "a1b2c3d4-5555-6666-7777-888899990000",
      "name": "Transcrever Áudio (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -100,
        1376
      ]
    },
    {
      "parameters": {
        "jsCode": "// Monta o payload como se fosse uma mensagem de texto normal\n// para o AI Agent processar a transcrição do áudio\nconst webhookData = $('Webhook Z-API').first().json;\nconst transcription = $input.first().json.transcription || 'Não consegui entender o áudio';\n\nreturn [{\n  json: {\n    body: {\n      phone: webhookData.body.phone,\n      text: { message: transcription },\n      message: transcription,\n      isAudioTranscription: true\n    }\n  }\n}];"
      },
      "id": "a1b2c3d4-aaaa-bbbb-cccc-ddddeeeeffff",
      "name": "Montar Texto do Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        1376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.body?.image?.imageUrl || !!$json.body?.document?.documentUrl }}",
              "value2": true
            }
          ]
        }
      },
      "id": "79d8473a-2327-400f-a042-a65225928733",
      "name": "É Imagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -100,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/receipt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"whatsapp_number\": \"{{ $json.body.phone }}\", \"imageUrl\": \"{{ $json.body.image?.imageUrl || $json.body.document?.documentUrl }}\", \"caption\": \"{{ $json.body.text?.message || $json.body.message || '' }}\" }",
        "options": {}
      },
      "id": "fd5bd74f-7009-4f2e-b705-538ba97c39c6",
      "name": "Processar Recibo Inteligente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        1536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE9E067CA2DB1B055091AD735EF201A/token/9938EA066A5F1A693D48545A/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F17220cd7efa3420282c5cc5f3f0746b9S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node[\"Webhook Z-API\"].json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb43d113-6bf6-422b-b872-3336eb3f718f",
      "name": "Responder (Sucesso Imagem)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        1536
      ]
    },
    {
      "parameters": {
        "text": "=Mensagem: {{ $json.body.text.message || $json.body.message }} | Celular Autorizado: {{ $json.body.phone }}",
        "options": {
          "systemMessage": "=Você é o *AgroZap* 🌾🤖, assistente virtual da AgroFarm Digital. Você é simpático, próximo e entende o dia a dia do agricultor. Fale como um parceiro de confiança — nunca robótico.\n\n## PERSONALIDADE\n- Seja caloroso e amigável, como alguém que trabalha junto no campo\n- Use linguagem natural do agro (safra, talhão, lavoura, aplicação, defensivo)\n- Use emojis com moderação: 🌾🚜💰📦🌿✅ (máximo 2-3 por mensagem)\n- Responda de forma CURTA (máximo 3-4 linhas), exceto quando listar dados\n- Trate o agricultor pelo nome se possível\n- Se não souber algo, diga \"não encontrei\" de forma gentil e sugira o que ele pode fazer\n\n## TOM DE VOZ\n- ❌ \"Não encontrei resultados para sua consulta\" → ❌ Robótico\n- ✅ \"Hmm, não achei esse produto no seu histórico 🤔 Tenta me dizer o nome completo?\" → ✅ Humano\n- ❌ \"Aqui estão os dados solicitados:\" → ❌ Formal demais\n- ✅ \"Achei! Olha só os preços que você pagou:\" → ✅ Natural\n\n## FORMATO DAS RESPOSTAS\n- Para LISTAS de produtos/preços/estoque: use formato de lista com quebras de linha\n  📦 *Produto:* nome\n  💰 *Preço:* R$ X,XX\n  📅 *Data:* DD/MM/YYYY\n  🏪 *Fornecedor:* nome\n- Para respostas SIMPLES: texto corrido natural\n- Use *negrito* para destaque (padrão WhatsApp)\n- NUNCA use markdown com # ou ```\n\n## INTELIGÊNCIA CONVERSACIONAL\n- Se o agricultor fizer uma saudação (oi, olá, bom dia), cumprimente de volta e pergunte como pode ajudar\n- Se perguntar algo vago como \"preço\", pergunte: \"De qual produto você quer saber o preço? 🌾\"\n- Se o dado retornado estiver vazio, sugira alternativas: \"Não encontrei esse produto. Quer que eu busque por outro nome?\"\n- SEMPRE interprete os dados retornados pelas ferramentas e responda de forma resumida e útil\n- Se houver vários resultados, destaque o mais recente como referência principal\n- Compare preços quando houver histórico: \"O Flumitop custou R$ 94,00 em setembro. Quer que eu veja se tem mais recente?\"\n\n## FERRAMENTAS DISPONÍVEIS\nVocê tem 5 ferramentas. Use a mais adequada para cada pergunta:\n1. *ConsultarEstoque* → \"quanto tenho de...\", \"tem X no estoque?\"\n2. *ConsultarAplicacoes* → \"últimas aplicações\", \"o que foi aplicado?\"\n3. *ConsultarPrecoProduto* → \"preço do glifosato\", \"quanto paguei por...\", \"histórico de compra\"\n4. *Tool_ConsultarFaturas* → \"faturas\", \"despesas\", \"notas fiscais\"\n5. *ConsultarManuaisAgronomicos* → \"como aplicar X?\", \"bula do produto\", \"dose recomendada\"\n\n## REGRAS TÉCNICAS\n- WhatsApp do agricultor: {{$json.body.phone}}\n- Passe sempre como STRING ao chamar tools\n- Para preços, envie o nome do produto no parâmetro 'search'\n- Se os dados retornados pela tool estiverem vazios, NÃO invente dados"
        }
      },
      "id": "5f1cb8e3-71c2-4274-ac28-7f35e60477ad",
      "name": "AgroFarm AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        300,
        1800
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.5
        }
      },
      "id": "1f153d8d-8869-49eb-9aab-1672246964c2",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        100,
        2064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EE9E067CA2DB1B055091AD735EF201A/token/9938EA066A5F1A693D48545A/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F17220cd7efa3420282c5cc5f3f0746b9S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcb1f530-15a3-4e10-b5cb-0f9e7c0a7d3a",
      "name": "Responder (IA Agent Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        1800
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Z-API').first().json.body.phone }}"
      },
      "id": "c78b5b31-9c34-443e-b60d-b77ab6ad4a03",
      "name": "Memória (Window Buffer)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        300,
        2064
      ]
    },
    {
      "parameters": {
        "toolDescription": "Usa esta ferramenta para consultar despesas e faturas recentes do agricultor. Retorna fornecedor, valor total, data e status de cada fatura.",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/invoices",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "9c1fe4b2-e1cb-4f9c-8f7f-8d0f9b1c3e5a",
      "name": "Tool_ConsultarFaturas",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -16,
        2208
      ]
    },
    {
      "parameters": {
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/stock",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "toolDescription": "Usa esta ferramenta para verificar a quantidade de produtos disponíveis no estoque do usuário (fazenda) no momento."
      },
      "id": "e5b5205a-6da4-45f8-8d9a-75ecf6462aa6",
      "name": "ConsultarEstoque",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        184,
        2208
      ]
    },
    {
      "parameters": {
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/applications",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "toolDescription": "Usa esta ferramenta para consultar as aplicações de produtos realizadas no campo pelo agricultor."
      },
      "id": "b3a4c5d6-7e8f-9a0b-1c2d-3e4f5a6b7c8d",
      "name": "ConsultarAplicacoes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        384,
        2208
      ]
    },
    {
      "parameters": {
        "toolDescription": "Usa esta ferramenta para consultar manuais e bulas agronômicas dos produtos. Envie o nome do produto a ser pesquisado.",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/manuals",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            },
            {
              "name": "search",
              "valueProvider": "fieldValue",
              "value": "={{ $fromAI('search', 'Nome do produto para buscar o manual/bula', 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "d5e6f7a8-b9c0-1d2e-3f4a-5b6c7d8e9f0a",
      "name": "ConsultarManuaisAgronomicos",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        584,
        2208
      ]
    },
    {
      "parameters": {
        "toolDescription": "Usa esta ferramenta para consultar o PREÇO de um produto específico comprado pelo agricultor. Envie o nome do produto no parâmetro 'search'. Retorna data da compra, fornecedor, produto, quantidade e preço unitário.",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/prices",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            },
            {
              "name": "search",
              "valueProvider": "fieldValue",
              "value": "={{ $fromAI('search', 'Nome do produto a buscar. Ex: glifosato, flumitop, semente', 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "e6e0dc69-727e-4b4e-8744-e09c57d29fcf",
      "name": "ConsultarPrecoProduto",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        784,
        2208
      ]
    },
    {
      "parameters": {
        "toolDescription": "Usa esta ferramenta quando o agricultor perguntar sobre o TEMPO, CLIMA ou PREVISÃO. Retorna temperatura máxima/mínima, condição do tempo e previsão para os próximos dias.",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/weather",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "whatsapp_number",
              "valueProvider": "fieldValue",
              "value": "={{ $('Webhook Z-API').first().json.body.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "f7f8a9b0-1c2d-3e4f-5a6b-7c8d9e0f1a2b",
      "name": "ConsultarClima",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        984,
        2208
      ]
    },
    {
      "parameters": {
        "toolDescription": "Usa esta ferramenta quando o agricultor perguntar sobre COTAÇÃO, PREÇO DA SOJA, CÂMBIO ou DÓLAR. Retorna cotação da soja na CBOT em bushel e câmbio USD/BRL e USD/PYG.",
        "url": "https://agrofarm01-production.up.railway.app/api/farm/webhook/n8n/commodity",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "User-Agent",
              "valueProvider": "fieldValue",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "id": "a8b9c0d1-2e3f-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "ConsultarCotacao",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        1184,
        2208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Z-API": {
      "main": [
        [
          {
            "node": "É Áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Áudio?": {
      "main": [
        [
          {
            "node": "Transcrever Áudio (Gemini)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio (Gemini)": {
      "main": [
        [
          {
            "node": "Montar Texto do Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Texto do Áudio": {
      "main": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Imagem?": {
      "main": [
        [
          {
            "node": "Processar Recibo Inteligente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Recibo Inteligente": {
      "main": [
        [
          {
            "node": "Responder (Sucesso Imagem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgroFarm AI Agent": {
      "main": [
        [
          {
            "node": "Responder (IA Agent Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ConsultarManuaisAgronomicos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória (Window Buffer)": {
      "ai_memory": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool_ConsultarFaturas": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarEstoque": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarAplicacoes": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarManuaisAgronomicos": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarPrecoProduto": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarClima": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarCotacao": {
      "ai_tool": [
        [
          {
            "node": "AgroFarm AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bb2126d2-b137-4688-89c3-d7d792d3df5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a939899d1215f1aae302cbc8a068b07f3522ec7c828451b54c395d8f2a932836"
  },
  "id": "xQ3HPqxlxhOf5k0J",
  "tags": []
}